{% extends 'base.html' %}
{% block content %}
<p>{{ movies_information|length }} Movies' information</p>
<ul class="movies_information-list">
    {% for movieinfo in movies_information %}
    <li>{{ movieinfo.movie_id }} - {{ movieinfo.movie_name }} - {{ movieinfo.release_date }} - {{ movieinfo.country }} - {{ movieinfo.type }} - {{ movieinfo.year }}
        <span class="float-right">
            <a class="imdb"href="https://www.imdb.com/find?q={{movieinfo.movie_name}}"target="_blank"title="Find this on IMDb">IMDb</a>
        </span>
    </li>
    {% endfor %}
</ul>
<p>{{ actors|length }} actors' information</p>
<ul class="actors-list">
    {% for actor in actors %}
    <li>{{ actor.actor_id }} - {{ actor.actor_name }} - {{ actor.gender }} - {{ actor.country }}
     <span class="float-right">
            <a class="imdb"href="https://www.imdb.com/find?q={{actor.actor_name}}"target="_blank"title="Find this on IMDb">IMDb</a>
        </span>
    </li>
    {% endfor %}
</ul>
<p>{{ box|length }} Box records</p>
<ul class="box-list">
    {% for b in box %}
    <li>{{ b.movie_id }} - {{ b.box }}</li>
    {% endfor %}
</ul>
<p>{{ relation|length }} Movie_Actor_Relation information</p>
<ul class="relation-list">
    {% for r in relation %}
    <li>{{ r.id }} - {{ r.movie_id }} - {{ r.actor_id }} - {{ r.relation_type }}</li>
    {% endfor %}
</ul>
<img alt="Walking Totoro" class="totoro" src="{{ url_for('static',filename='images/totoro.gif') }}"title="to~to~ro~">
{% endblock %}
